/**
 * Actions
 */

#actions {
  section {
    padding-top: 20px;
    padding-bottom: 50px;

    @media (min-width: $screen-sm-min) {
      font-size: 16px;
    }

    &:nth-child(2n) {
      background-color: $color-light-background;
    }
  }

  // TODO: FIXME
  #communication {
    .social {
      margin-top: 20px;
      text-align: center;
    }
  }
}
