body.contact {
    .content {
        padding-top: 30px;
        padding-bottom: 20px;

        .contact {
            @media (min-width: $screen-sm-min) {
                font-size: 16px;
            }

            i.fa-building-o {
                margin-right: 10px;
            }
        }

        .social {
            @media (min-width: $screen-sm-min) {
                font-size: 24px;
            }

            i.fa {
                margin-right: 10px;
            }
        }
    }
}
