body.event {
    .event-header {
        .place {
            font-weight: bold;
            font-size: 18px;
        }

        .dates {
            font-style: italic;
        }
    }

    .event-cover {
        img {
            // center image
            display: block;
            margin-right: auto;
            margin-left: auto;
        }

        @media (min-width: $screen-sm-min) {
            float: left;
            margin: 0 20px 20px 0;
        }
    }

    .event-body {
        margin-top: 20px;

        @media (min-width: $screen-sm-min) {
            margin-top: 0;
        }
    }

    .event-footer {

    }
}
