body.events {
    .events-list {
        list-style: none;
        font-family: 'Lato', sans-serif;
        margin: 0px;
        padding: 0px;
    }

    .event {
        background-color: $base-background;
        box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
        margin: 20px 0px;

        @media (min-width: $screen-sm-min) {
            display: block;
            position: relative;
            width: 100%;
            height: 120px;
        }

        a {
            display: block;
            text-decoration: none;
        }

        time {
            display: inline-block;
            width: 100%;
            padding: 5px;

            color: $base-inverse;
            background-color: $base-adjacent;

            text-align: center;
            text-transform: uppercase;

            span {
                display: none;
            }

            .day {
                display: block;
                line-height: 1;

                font-size: 56pt;
                font-weight: 100;
            }

            .month {
                display: block;
                line-height: 1;

                font-size: 24pt;
                font-weight: 900;
            }
        }

        &:nth-child(even) time {
            background-color: $base-main;
        }

        img {
            width: 100%;
        }

        .info {
            padding: 20px;
            text-align: center;
            color: $base-font;

            .title {
                margin: 0px;

                font-size: 17pt;
                font-weight: 700;
            }

            .title, .place, .dates {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .place, .dates {
                margin: 0px;

                font-size: 13pt;
                font-weight: 300;
            }

            .place {
            }

            .dates {
                margin-top: 10px;
                font-style: italic;
                color: $base-font-light;
            }
        }

        @media (min-width: $screen-sm-min) {
            time, img {
                display: inline-block;
                float: left;

                width: 120px;
                height: 120px;
            }

            img {
                padding: 0px;
                margin: 0px;
            }

            .info {
                position: relative;
                height: 120px;
                overflow: hidden;

                background-color: $base-background-alt;
                text-align: left;
            }
        }
    }
}
