footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    padding: 10px;

    p {
        text-align: center;
        margin-bottom: 0;
    }

    background-color: $base-main;
    color: $base-inverse;

    a {
        color: $base-inverse;

        &:hover {
            color: $base-inverse;
        }
    }

    .social {
        padding: 0 10px;

        &:nth-child(n+2) {
            border-left: $base-inverse solid 1px;
        }
    }
}
