/**
 * Footer
 */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  padding: 10px;

  p {
    text-align: center;
    margin-bottom: 0;
  }

  background-color: $color-purple;
  color: #fff;

  a {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}
