body.homepage {
    h2 {
        font-size: 25px;
        @media (min-width: $screen-md-min) {
            font-size: 30px;
        }
    }

    section {
        padding-top: 20px;
        padding-bottom: 30px;

        @media (min-width: $screen-sm-min) {
            font-size: 18px;
        }

        &:nth-child(2n + 1) {
            background-color: $color-light-background;
        }
    }

    .presentation {
        padding-top: 40px;

        .photo {
            @media (min-width: $screen-md-min) {
                @include rotate(-5deg);
                margin-top: 15px;
            }
            @media (min-width: $screen-lg-min) {
                margin-top: -10px;
            }
        }

        .intro {
            padding: 10px 10px 0px 10px;
            text-align: justify;

            @media (min-width: $screen-sm-min) {
                font-size: 18px;
            }
        }
    }

    .activities {
        padding-bottom: 10px;
        text-align: justify;

        .activity {
            margin-bottom: 20px;
        }

        .more {
            margin-top: 20px;
        }
    }
}
