html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: $footer-height;

    background-color: $color-background;
}

h1, h2, h3, h4, h5 {
    color: $color-main-dark;
}

a {
    color: $color-main;

    &:hover {
        color: $color-main-dark;
    }
}

// overwrites a bootstrap rule
ul ul {
    margin-bottom: 10px;
}

.btn-purple {
    color: $color-inverse;
    background-color: $color-main;
    border-color: $color-main-deep;
}
.btn-purple:hover {
    color: $color-inverse;
    background-color: $color-main-dark;
    border-color: $color-main-deep;
}
