/**
 * Main
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

h1, h2, h3, h4, h5 {
  color: $color-purple-darkest;
}

a {
  color: $color-purple;

  &:hover {
    color: $color-purple-dark;
  }
}

// TODO: FIXME
.bulletin-adhesion {
  text-align: center;
}

/* custom button */
.btn-purple {
  color: #fff;
  background-color: $color-purple;
  border-color: $color-purple-darkest;
}
.btn-purple:hover {
  color: #fff;
  background-color: $color-purple-dark;
  border-color: $color-purple-darkest;
}
