html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: $footer-height;

    background-color: $base-background;
    color: $base-font;
}

h1, h2, h3, h4, h5 {
    color: $base-alt;
}

a {
    color: $base;

    &:hover {
        color: $base-alt;
    }
}

// overwrites a bootstrap rule
ul ul {
    margin-bottom: 10px;
}

.btn-custom {
    color: $base-inverse;
    background-color: $base;
    border-color: $base-deep;
}
.btn-custom:hover {
    color: $base-inverse;
    background-color: $base-alt;
    border-color: $base-deep;
}
