/* navbar: bootstrap overwrites */
.navbar {
    margin-bottom: 0px;
}

.navbar>.container {
    .navbar-header {
        position: relative;

        .logo {
            display: inline-block;
        }

        .navbar-brand {
            // padding-top: 3px;
            color: $color-purple-darkest;
        }
    }
}

.navbar-default {
    .navbar-nav>li>a {
        font-size: 16px;
        color: #444;

        @media (min-width: $screen-md-min) {
            font-size: 18px;
        }
    }
}
