body.post {
    .post-header {
        color: #999;
        margin-bottom: 10px;

        .meta {
            font-style: italic;
        }
    }

    .post-cover {
        img {
            // center image
            display: block;
            margin-right: auto;
            margin-left: auto;
        }

        @media (min-width: $screen-sm-min) {
            float: left;
            margin: 0 20px 20px 0;
        }
    }

    .post-body {
        margin-top: 20px;

        @media (min-width: $screen-sm-min) {
            margin-top: 0;
        }
    }
}
