// Main color
$color-main: #92278F;

// Main dark color
$color-main-dark: #781373;

// Main deep color
$color-main-deep: #62045E;

// Main soft color
$color-main-soft: #c52c66;

// Main inverse color
$color-inverse: #fff;

// Alternative inverse color
$color-inverse-alt: #ddd;

// Main background color
$color-background: #fff;

// Alternative background color
$color-background-alt: #f5f5f5;

// Navigation bar font color
$color-navbar-font: #444;

// Place color in events list
$color-events-place: #333;

// Dates color in events list
$color-events-dates: #7a7a7a;

// Posts line separator color
$color-posts-separator: #ebf2f6;

// Post date color
$color-post-date: #999;
