// Base color
$base: #92278F;

// Alternative base color
$base-alt: #781373;

// Deeper base color
$base-deep: #62045E;

// Adjacent base color
$base-adjacent: #c52c66;

// Inverse color
$base-inverse: #fff;

// Alternative inverse color
$base-inverse-alt: #ddd;

// Main background color
$base-background: #fff;

// Alternative background color
$base-background-alt: #f5f5f5;

// Main font color
$base-font: #333;

// Lighter font color
$base-font-light: #7a7a7a;
