<footer>
    <div class="container">
        <p>{{site.tagline}}</p>
        <p>
            {{#if site.facebook}}<span class="social"><i class="fa fa-facebook"></i> <a href="{{site.facebook}}" target="_blank">Facebook</a></span>{{/if}}
            {{#if site.twitter}}<span class="social"><i class="fa fa-twitter"></i> <a href="{{site.twitter}}" target="_blank">Twitter</a></span>{{/if}}
            {{#if site.googlePlus}}<span class="social"><i class="fa fa-google-plus"></i> <a href="{{site.googlePlus}}" rel="publisher" target="_blank">Google+</a></span>{{/if}}
        </p>
    </div>
</footer>
