<meta property="og:site_name" content="{{ .Site.Name }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="zefzef" />
<meta property="og:description" content="zefzefzef zefzefzef..." />
<meta property="og:url" content="http://localhost:2368/untitled-2/" />
<meta property="og:image" content="http://localhost:2368/content/images/2015/03/betton-eglise-570x170.jpg" />

<meta property="article:published_time" content="2015-03-17T09:56:00.000Z" />
<meta property="article:modified_time" content="2015-03-17T09:57:54.342Z" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="zefzef" />
<meta name="twitter:description" content="zefzefzef zefzefzef..." />
<meta name="twitter:url" content="http://localhost:2368/untitled-2/" />
<meta name="twitter:image:src" content="http://localhost:2368/content/images/2015/03/betton-eglise-570x170.jpg" />
