    <link rel="canonical" href="{{ .AbsoluteUrl }}" />

{{ if .Meta.OGType }}
    <meta property="og:type" content="{{ .Meta.OGType }}" />
{{ end }}

    <meta property="og:site_name" content="{{ .Site.Name }}" />
    <meta property="og:title" content="{{ .Meta.Title }}" />
    <meta property="og:description" content="{{ .Meta.Description }}" />
    <meta property="og:url" content="{{ .AbsoluteUrl }}" />

{{ if .Cover }}
    <meta property="og:image" content="{{ .Cover.SmallAbsolute }}" />
{{ end }}

{{ if .Meta.TwitterCard }}
    <meta name="twitter:card" content="{{ .Meta.TwitterCard }}" />
    <meta name="twitter:title" content="{{ .Meta.Title }}" />
    <meta name="twitter:description" content="{{ .Meta.Description }}" />
    <meta name="twitter:url" content="{{ .AbsoluteUrl }}" />

    {{ if .Cover }}
        <meta name="twitter:image:src" content="{{ .Cover.SmallAbsolute }}" />
    {{ end }}
{{ end }}
