<header class="navbar navbar-default" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button"  data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">{{ t "toggle_navigation" }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {{ if .Site.Logo }}
                <a href="{{ .Site.BasePath }}" class='navbar-brand with-logo'>{{ if .Site.Logo }}<img src="{{ .Site.Logo.Small }}" class="logo" alt="{{ t "logo" }}" /> {{ end }}{{ if .Site.NameInNavBar }}{{ .Site.Name }}{{ end }}</a>
            {{ else }}
                <a href="{{ .Site.BasePath }}" class='navbar-brand'>{{ .Site.Name }}</a>
            {{ end }}
        </div>

        <nav class="collapse navbar-collapse navbar-right" id="navbar-collapse-1" role="navigation">
            <ul class="nav navbar-nav">
                {{ range $navItem := .Site.NavBar }}
                    <li class="{{ if startsWith $.Url $navItem.Url }}active{{ end }}"><a href="{{ $navItem.Url }}">{{ $navItem.Title }}</a></li>
                {{ end }}
            </ul>
        </nav>
    </div>
</header>
