{{ template "partials/jumbotron" .Node }}

<div class="container events">
    <div class="row">
        <div class="col-md-12">
            <ul class="events-list">

                {{ range .Events }}
                    <li class="event">
                        <a href="{{ .Url }}">
                            <h2 class="title">{{ .Title }}</h2>
                            <div class="place">{{ .Place }}</div>
                            <div class="start-date">{{ .StartDate }}</div>
                            <div class="end-date">{{ .EndDate }}</div>
                            {{ if .Cover }}
                            <img src="{{ .Cover }}" alt="Event cover" class="cover" />
                            {{ end }}
                        </a>
                    </li>
                {{ end }}

            </ul>
        </div>
    </div>
</div>
