{{ template "partials/jumbotron" .Node }}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header class="event-header">
                    <h1>{{ .Title }}</h1>
                    <p>
                        <span class="place">{{ .Place }}</span> - <span class="dates">{{ .Dates }}</span>
                    </p>
                </header>

                {{ if .Cover }}
                    <section class="event-cover">
                        <img src="{{ .Cover.SmallURL }}" class="cover img-thumbnail" alt="cover" />
                    </section>
                {{ end }}

                <section class="event-body">
                    {{ .Body }}
                </section>

                <section class="event-footer">
                    <ul class="nav nav-pills pull-left">
                        <li>
                            <a href="{{ urlFor "events" }}"><i class="fa fa-arrow-left"></i> Back to events</a>
                        </li>
                    </ul>
                </section>
            </article>
        </div>
    </div>
</div>
