{{ template "partials/jumbotron" .Node }}

{{ if .Description }}
<section class="presentation">
    <div class="container">
        <div class="row">
            {{ if .Cover }}
                <div class="col-md-4 photo">
                    <img src="{{ .Cover.Small }}" alt="Cover" class="img-responsive img-thumbnail center-block"/>
                </div>
                <div class="col-md-8 intro">
                    {{ .Description }}
                </div>
            {{ else }}
                <div class="col-md-12 intro">
                    {{ .Description }}
                </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}

{{ if .Activities }}
<section class="activities">
    <div class="container">
        <div class="row">
            {{ range $index, $activity := .Activities }}
                {{ if modBool $index 2 }}
                    <div class="clearfix visible-sm-block"></div>
                {{ end }}

                <div class="col-md-4 col-sm-6 activity">
                    <h3>{{ $activity.Title }}</h3>
                    {{ $activity.Summary }}
                    <p class='more'>
                        <a href="{{ urlFor "activities" }}" class="btn btn-purple">En savoir plus</a>
                    </p>
                </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}

{{ if .MoreDesc }}
<section class="more-desription">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {{ .MoreDesc }}
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ if .JoinText }}
<section class="join-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {{ .JoinText }}
            </div>
        </div>
    </div>
</section>
{{ end }}
