<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ .Meta.Title }}</title>
    <meta name="description" content="{{ .Meta.Description }}" />

    <link href="{{ .Site.BaseURL }}/assets/vendor/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}/assets/vendor/css/bootstrap.min.css" rel="stylesheet">

    <link href="{{ .Site.BaseURL }}/assets/css/willy.css" rel="stylesheet">
</head>

<body class="{{ .BodyClass }}">
    {{ template "partials/navbar" . }}

    {{ template "content" .Content }}

    {{ template "partials/footer" . }}

    <script src="{{ .Site.BaseURL }}/assets/vendor/js/jquery.min.js"></script>
    <script src="{{ .Site.BaseURL }}/assets/vendor/js/bootstrap.min.js"></script>

    {{ template "partials/analytics" . }}
</body>
</html>
