{{ template "partials/jumbotron" .Node }}

<section>
    <div class="container">
        <div class="row">
            {{ range $index, $member := .Members }}
                {{ if modBool $index 2 }}
                    <div class="clearfix visible-sm-block"></div>
                {{ end }}

                <div class="col-md-4 col-sm-6 member">
                    <h3>{{ $member.Fullname }}</h3>
                    {{ if .Photo }}
                        <img src="{{ $member.Photo.PortraitFill }}" class="img-responsive img-thumbnail avatar" alt="{{ $member.Fullname }}" />
                    {{ else }}
                        <img src="{{ $.Node.Site.BasePath }}/assets/img/avatar.jpg" class="img-responsive img-thumbnail avatar no-photo" alt="{{ $member.Fullname }}" />
                    {{ end }}
                    <p class="role">{{ $member.Role }}</p>
                    <div class="description">
                        {{ $member.Description }}
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
</section>
